@{
    ViewBag.Title = "ShowError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowError</h2>

An error occured while executing your request, please contact system support with the following error code: @MvcElmahErrorDemo.AppHelpers.ElmahErrorHandling.GetError(ViewBag.id)

