
/GoogleSpreadsheetReader/GoogleSpreadsheetReader.csproj.user
/GoogleSpreadsheetReader/GoogleSpreadsheetReader.suo
/GoogleSpreadsheetReader/obj
/GoogleSpreadsheetReader/bin
/FormatBenchmarks/bin
/FormatBenchmarks/obj
/FormatBenchmarks/FormatBenchmarks.csproj
/FormatBenchmarks/FormatBenchmarks.suo
/DictionaryBenchmarks/bin
/DictionaryBenchmarks/obj
/DictionaryBenchmarks/DictionaryBenchmarks.csproj.user
/DictionaryBenchmarks/DictionaryBenchmarks.suo
/MvcElmahErrorDemo/bin
/MvcElmahErrorDemo/obj
/MvcElmahErrorDemo/MvcElmahErrorDemo.csproj.user
/MvcElmahErrorDemo/MvcElmahErrorDemo.suo
/FunWithTuples/bin
/FunWithTuples/obj
/FunWithTuples/FunWithTuples.suo
/CSVParser/bin
/CSVParser/obj
/CSVParser/CSVParser.suo
/XmlDemo/bin
/XmlDemo/obj
/XmlDemo/XmlDemo.suo
/Timesheet/obj
/Timesheet/AutoRegisterTimesheet.csproj.user
/Timesheet/bin
/Timesheet/AutoRegisterTimesheet.suo
/ICS/Test
/Composition/DemoInterfaces/bin
/Composition/DemoInterfaces/obj
/Composition/DemoPluginGreetings/bin
/Composition/DemoPluginGreetings/obj
/Composition/DemoPluginHelloWorld/bin
/Composition/DemoPluginHelloWorld/obj
/Composition/DemoProgram/bin
/Composition/DemoProgram/obj