
/GoogleSpreadsheetReader/GoogleSpreadsheetReader.csproj.user
/GoogleSpreadsheetReader/GoogleSpreadsheetReader.suo
/GoogleSpreadsheetReader/obj
/GoogleSpreadsheetReader/bin
/FormatBenchmarks/bin
/FormatBenchmarks/obj
/FormatBenchmarks/FormatBenchmarks.csproj
/FormatBenchmarks/FormatBenchmarks.suo
/DictionaryBenchmarks/bin
/DictionaryBenchmarks/obj
/DictionaryBenchmarks/DictionaryBenchmarks.csproj.user
/DictionaryBenchmarks/DictionaryBenchmarks.suo
/MvcElmahErrorDemo/bin
/MvcElmahErrorDemo/obj
/MvcElmahErrorDemo/MvcElmahErrorDemo.csproj.user
/MvcElmahErrorDemo/MvcElmahErrorDemo.suo
/FunWithTuples/bin
/FunWithTuples/obj
/FunWithTuples/FunWithTuples.suo
/CSVParser/bin
/CSVParser/obj
/CSVParser/CSVParser.suo
/XmlDemo/bin
/XmlDemo/obj
/XmlDemo/XmlDemo.suo