
/GoogleSpreadsheetReader/GoogleSpreadsheetReader.csproj.user
/GoogleSpreadsheetReader/GoogleSpreadsheetReader.suo
/GoogleSpreadsheetReader/obj
/GoogleSpreadsheetReader/bin
/FormatBenchmarks/bin
/FormatBenchmarks/obj
/FormatBenchmarks/FormatBenchmarks.csproj
/FormatBenchmarks/FormatBenchmarks.suo
/DictionaryBenchmarks/bin
/DictionaryBenchmarks/obj
/DictionaryBenchmarks/DictionaryBenchmarks.csproj.user
/DictionaryBenchmarks/DictionaryBenchmarks.suo