<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <extensions>
        <behaviorExtensions>
          <add name="clientInspector"
            type="WCFClient.Clients.ClientEndpointBehavior, WCFClient" />
        </behaviorExtensions>
      </extensions>
      <behaviors>
        <endpointBehaviors>
          
          <behavior name="inspectorBehavior">
            <clientInspector />
          </behavior>
          
          <behavior name="DisableCertificateValidation">
            <clientCredentials>
              <serviceCertificate>
                <authentication certificateValidationMode="None" revocationMode="NoCheck" />
              </serviceCertificate>
            </clientCredentials>
          </behavior>
          
          <behavior name="CertificateClientCredentials">
            <clientCredentials>
              <serviceCertificate>
                <authentication certificateValidationMode="None" revocationMode="NoCheck" />
              </serviceCertificate>
              <!--I'm using the same certificate for the client to simplify the demo, in production environment, you'll provide a certificate to each service-->
              <clientCertificate findValue="sslstreamtest" x509FindType="FindBySubjectName" storeLocation="CurrentUser" storeName="My"/>
            </clientCredentials>
          </behavior>
          
        </endpointBehaviors>
      </behaviors>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IInvokerServiceDemo">
                    <security defaultAlgorithmSuite="Default" authenticationMode="UserNameForSslNegotiated"
                        requireDerivedKeys="true" securityHeaderLayout="Strict" includeTimestamp="true"
                        keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncryptAndEncryptSignature"
                        messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSecurityContextCancellation="true" requireSignatureConfirmation="false">
                        <localClientSettings cacheCookies="true" detectReplays="true"
                            replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite"
                            replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
                            sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
                            timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
                        <localServiceSettings detectReplays="true" issuedCookieLifetime="10:00:00"
                            maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
                            negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
                            sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
                            reconnectTransportOnFailure="true" maxPendingSessions="128"
                            maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
                        <secureConversationBootstrap />
                    </security>
                    <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        maxSessionSize="2048">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </binaryMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
            </customBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IServiceDemo" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ISimpleUsernameServiceDemo" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IAAServiceDemo" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICertificateServiceDemo" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Certificate" negotiateServiceCredential="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFServer.Services/ServiceDemo/"
                behaviorConfiguration="inspectorBehavior" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IServiceDemo" contract="ServiceDemoSVC.IServiceDemo"
                name="WSHttpBinding_IServiceDemo">
                <identity>
                    <dns value="sslstreamtest" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFServer.Services/SimpleUsernameServiceDemo/"
                behaviorConfiguration="DisableCertificateValidation" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ISimpleUsernameServiceDemo"
                contract="SimpleUsernameServiceDemoSVC.ISimpleUsernameServiceDemo"
                name="WSHttpBinding_ISimpleUsernameServiceDemo">
                <identity>
                    <dns value="sslstreamtest" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFServer.Services/AAServiceDemo/"
                behaviorConfiguration="DisableCertificateValidation" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IAAServiceDemo" contract="AAServiceDemoSVC.IAAServiceDemo"
                name="WSHttpBinding_IAAServiceDemo">
                <identity>
                    <dns value="sslstreamtest" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFServer.Services/CertificateServiceDemo/"
                behaviorConfiguration="CertificateClientCredentials" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICertificateServiceDemo"
                contract="CertificateServiceDemoSVC.ICertificateServiceDemo"
                name="WSHttpBinding_ICertificateServiceDemo">
                <identity>
                    <dns value="sslstreamtest" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/WCFServer.Services/InvokerServiceDemo/"
                binding="customBinding" bindingConfiguration="CustomBinding_IInvokerServiceDemo"
                behaviorConfiguration="DisableCertificateValidation"
                contract="InvokerServiceDemoSVC.IInvokerServiceDemo" name="CustomBinding_IInvokerServiceDemo">
                <identity>
                    <dns value="sslstreamtest" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>