<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoRegisterTimesheet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoRegisterTimesheet.Properties.Settings>
            <setting name="FirstDayOfWeek" serializeAs="String">
                <value>Monday</value>
            </setting>
            <setting name="HoursPerDay" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="AlertDailyHoursMet" serializeAs="String">
                <value>False</value>
            </setting>
        </AutoRegisterTimesheet.Properties.Settings>
    </userSettings>
</configuration>