@inherits RazorTemplateDemo.AppCode.RazorBaseWebViewPage<RazorTemplateDemo.Models.SimpleModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>builder</title>
</head>
<body>
    <div>
        @Model.Name
    </div>
</body>
</html>
